h1 {
	color: #7c0055;
	border: 3px dotted #5c6ace;
}

h4 {
	background: #f79413;
}

body {
	background: url(http://www.alldesigncreative.com/wp-content/uploads/2014/08/sand-texture.jpg);
	background-size: cover;
}